---
interface Props {
	title: string;
}

const { title } = Astro.props;
import { Image } from 'astro:assets';
import fairagroLogo from '../images/Fairagro_Logo.png';
import favicon from '../images/favicon.png';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href={favicon.src} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <div style="margin-left:30px;">
    <Image src={fairagroLogo} width="200" alt="FARagro logo" />
    <!-- <img src="/ta4-retreat2024/Fairagro_Logo.png" width="200px" /> -->
    </div>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 2,147,128;
		--accent-light: 167,200,51;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
